# Flask
FLASK_RUN_PORT=5002

# Internal service URLs
PAYMENT_WRAPPER_URL=http://payment-wrapper:5001
PAYMENT_ATOMIC_URL=http://payment-atomic:5000
ORDER_URL=https://personal-xxxx.outsystemscloud.com/Order_Service/rest/OrderAPI

# RabbitMQ connection URL
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Internal service URLs
PATIENT_URL=http://patient-service:5030
CONSULTATION_FEE=40
